.container{
    height: calc(100vh - 100px);
    display: flex;
}
.left{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer{
    width: 80%;
    height: 80%;
    position: relative;
}
.right{
    flex: 1;
    padding: 20px;
}
.title{

}
.price{
    color: #d1411e;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #d1411e;
}
.descrption{

}
.ingredients{
    display: flex;
    margin-bottom: 30px;
}
.option{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.additem{
    width: 50px;
    height: 30px;
}
.addtocart{
    height: 30px;
    margin-left: 30px;
    background-color: #d1411e;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;

}